<section>
	<div>
    <nav id="navbar_sort" class="navbar fixed-top navbar-expand-lg navbar-dark mine_shaft_gray_bg py-0 navbar_sort <%= hide_navbar_sort %> navbar_sort_hidden border-dark">
    <div class="" id="">
      <ul class="navbar-nav navbar_sort_links">
        <div class="row">
          <div class="col-12-sm col-6 <%= newestActive %>">
            <li class="nav-item ">
              <a class="nav-link p-0 " href="?sortby=newest">
                <div class="  underline_active_sort submit_island">New</div>
              </a>
            </li>
          </div>
          <div class="col-12-sm col-6 <%= viewsActive %>">
            <li class="nav-item ">
              <a class="nav-link p-0 " href="?sortby=views">
                <div class="  underline_active_sort submit_island">Popular</div>
              </a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </nav>
		<!-- Nav Bar -->
		<nav id="navbar-main" class="navbar fixed-top navbar-expand-lg navbar-dark mine_shaft_gray_bg py-0 border-bottom border-dark">
			<div class="container-fluid">
				<!-- Site Title -->
				<a class="navbar_brand burbank_font shadow_5" href="/"><span class="pale_white">Map</span><span class="manz_yellow">nite</span></a>
				<!-- Mobile Nav Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<!-- Navigation Links -->
				<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">

          <ul class="nav navbar-nav m-auto icon_pad_r">

            <div class="container-fluid">

            <div class="row">

              <div class="col-lg-6 col-12 categ_icons">

                <div class="row">

                  <div class="col-lg-3 col-3">
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="/new">
                        <div class="circle <%= newSort %>">
                          <i class="fas fa-clock icon_parkour"></i>
                          <p class="pt-3">New</p>
                        </div>
                      </a>
                    </li>
                  </div>

                  <div class="col-lg-3 col-3">
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="/popular">
                        <div class="circle <%= popularSort %>">
                          <i class="fas fa-fire icon_parkour"></i>
                          <p class="pt-3">Popular</p>
                        </div>
                      </a>
                    </li>
                  </div>

                  <div class="col-lg-3 col-3">
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="/obstacle">
                        <div class="circle <%= obstacleParkour %>">
                          <i class="fas fa-running icon_parkour"></i>
                          <p class="pt-3">Obstacle</p>
                        </div>
                      </a>
                    </li>
                  </div>

                  <div class="col-lg-3 col-3">
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="/racing">
                        <div class="circle <%= racing %>">
                          <i class="fas fa-flag-checkered icon_racing"></i>
                          <p class="pt-3">Racing</p>
                        </div>
                      </a>
                    </li>
                  </div>

                </div>

              </div>

              <div class="col-lg-6 col-12">

                <div class="row">

                  <div class="col-lg-3 col-3">
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="/minigame">
                        <div class="circle <%= minigame %>">
                          <i class="fas fa-gamepad icon_minigame"></i>
                          <p class="pt-3">Minigame</p>
                        </div>
                      </a>
                    </li>
                  </div>

                  <div class="col-lg-3 col-3">
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="/pvp">
                        <div class="circle <%= battleArena %>">
                          <i class="fas fa-fist-raised icon_arena"></i>
                          <p class="pt-3">PvP</p>
                        </div>
                      </a>
                    </li>
                  </div>

                  <div class="col-lg-3 col-3">
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="/practice">
                        <div class="circle <%= editCourses %>">
                          <i class="fas fa-pencil-alt icon_edit"></i>
                          <p class="pt-3">Practice</p>
                        </div>
                      </a>
                    </li>
                  </div>

                  <div class="col-lg-3 col-3">
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="/creative">
                        <div class="circle <%= creativeBuilds %>">
                          <i class="fas fa-torii-gate icon_creative"></i>
                          <p class="pt-3">Creative</p>
                        </div>
                      </a>
                    </li>
                  </div>

                </div>

              </div>

            </div>
          </div>

        </ul>
        <div class="nav_right">
          <!-- Search Bar & Button -->
          <form action="/search" method="POST" class="navbar-form form-inline my-2 my-lg-0">
            <div class="input-group search_center pl-1 pt-1">
              <input class="form-control mr-sm-2 rounded-right" type="search" placeholder="Search" aria-label="Search" id="search-input" name="searchInput" autocomplete="off">
              <button class="btn mine_shaft_gray_bg search_icon" type="submit" id="search-submit"><i class="fas fa-search"></i></button>
            </div>
          </form>
          <ul class="nav navbar-nav nav_btns_right" id="btn-container">
            <li class="nav-item">
              <a class="nav-link ml-0 p-0" href="/submit">
                <div class="<%= submitIsland %> submit_island">Submit Island</div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-0 p-0" href="/contact">
                <div class="<%= contact %> submit_island">Contact</div>
              </a>
            </li>
          </ul>
        </div>
			</div>
		</nav>
    
	</div>
</section>