<section class="text-center text-white" id="">
	<!-- <div class="container position-relative mt-4">
		<div class="gray_trans_bg pt-3 px-4 rounded">

			<div class="row pb-3">

        <div class="col-lg-6">
          <div class="row">

        <div class="col-lg-3 col-3 mb-5 text-center">
          <a class="text-muted" href="/new">
            <div class="circle <%= newSort %>">
              <i class="fas fa-clock icon_parkour"></i>
              <p class="pt-2">New</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-3 mb-5 text-center">
          <a class="text-muted" href="/popular">
            <div class="circle <%= popularSort %>">
              <i class="fas fa-fire icon_parkour"></i>
              <p class="pt-2">Popular</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-3 mb-5 text-center">
          <a class="text-muted" href="/obstacle-parkour">
            <div class="circle <%= obstacleParkour %>">
              <i class="fas fa-running icon_parkour"></i>
              <p class="pt-2">Obstacle & Parkour</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-3 mb-5 text-center">
          <a class="text-muted" href="/racing">
            <div class="circle <%= racing %>">
              <i class="fas fa-flag-checkered icon_racing"></i>
              <p class="pt-2">Racing</p>
            </div>
          </a>
        </div>
      </div>

      </div>

        <div class="col-lg-6">
          <div class="row">

        <div class="col-lg-3 col-3 mb-5 text-center">
          <a class="text-muted" href="/minigame">
            <div class="circle <%= minigame %>">
              <i class="fas fa-gamepad icon_minigame"></i>
              <p class="pt-2">Minigame</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-3 mb-5 text-center">
          <a class="text-muted" href="/battle-arena">
            <div class="circle <%= battleArena %>">
              <i class="fas fa-fist-raised icon_arena"></i>
              <p class="pt-2">Battle Arena</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-3 mb-5 text-center">
          <a class="text-muted" href="/edit-courses">
            <div class="circle <%= editCourses %>">
              <i class="fas fa-pencil-alt icon_edit"></i>
              <p class="pt-2">Edit Courses</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-3 mb-5 text-center">
          <a class="text-muted" href="/creative-builds">
            <div class="circle <%= creativeBuilds %>">
              <i class="fas fa-torii-gate icon_creative"></i>
              <p class="pt-2">Creative Builds</p>
            </div>
          </a>
        </div>
      </div>
    </div>

      </div>

    </div>
		</div>
	</div> -->
</section>