<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<%- include('partials/background') %>

<section id="not_found">
  <div class="container position-relative text-white">
    <img src="images/fortnite_llama_image.jpg" class="img-fluid position-relative rounded darken_img">
    <h1 class="position-absolute page_not_found burbank_font"><span class="error_nf">404</span><br>PAGE NOT FOUND</h1>
  </div>
</section>

<%- include('partials/modal') -%>
<%- include('partials/footer') -%>