<%- include('partials/header') -%>

  <nav class="navbar navbar-dark fixed-top mine_shaft_gray_bg flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Fortnite Creative Codes</a>
    
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/signout">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid text-white">
    <div class="row">

      <nav class="col-md-2 d-none d-md-block mine_shaft_gray_bg sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/admin/livemaps">
                Live Maps
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/submittedmaps">
                <span data-feather="file"></span>
                Submitted Maps
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2"><%= adminTitle %></h1>
          <!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div> -->
        </div>


        <div class="album py-4 tablet_mt">
          <div class="container">
            <div class="row">
              <% tilesDisplay.forEach(function(map) { -%>
                <div class="col-lg-4 hvr_grow">
                  <a class="text-white" href="/admin/<%= map.code %>">
                  <div class="card mb-4 shadow-sm text-white mine_shaft_gray_bg">
                    <div class="card-header text-center h4 py-3">
                      <%= map.name %>
                    </div>
                    <img src="<%= map.photo %>" class="card-img-top" alt="...">
                  </a>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <p class="card-text code_font text-left">Code: <%= map.code %> %> <br>(<%= map.author %>)</p>
                        </div>
                        <div class="code_font h6 pt-3 text-center col-3">
                          <i class="far fa-eye manz_yellow"></i> <%= map.views %>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-4">
                        <a class="btn btn-sm btn-dark w-100" href="#">Approve</a>
                                                                  <!-- /admin/approve/<%= map.code %> -->
                      </div>
                      <div class="col-4">
                        <a class="btn btn-sm btn-dark w-100" href="/admin/<%= map.code %>">Edit</a>
                      </div>
                      <div class="col-4">
                        <a class="btn btn-sm btn-dark w-100" href="#">Delete</a>
                      </div>
                    </div>
                </div>
              <% }); -%>
            </div>
          </div>
        </div>
        
      </main>
    </div>
  </div>

      

  <%- include('partials/footer') -%>