<%- include('partials/header') -%>

<nav class="navbar navbar-dark fixed-top mine_shaft_gray_bg flex-md-nowrap p-0 shadow px-4">
  <a class="navbar_brand_admin col-sm-3 col-md-2 mr-0 burbank_font shadow_5" href="/"><span class="pale_white">Map</span><span class="manz_yellow">nite</span></a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/signout">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid text-white">
  <div class="row">

    <nav class="col-2 d-md-block mine_shaft_gray_bg sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/admin/livemaps">
              Live Maps
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/submittedmaps">
              <span data-feather="file"></span>
              Submitted Maps
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><%= adminTitle %></h1>
      </div>

      <% if (adminView === "live_maps") { -%>
      <%- include('partials/live_maps') -%>
      <% } else if (adminView === "submitted_maps") {-%>
      <%- include('partials/submitted_maps') -%>
      <% } -%>
      <%- include('partials/footer') -%>
    </main>
    
  </div>
</div>