<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<%- include('partials/background') %>
<!-- <%- include('partials/page_heading') -%> -->

<section class="" id="home">
  <div class="album">
    <div class="container pt-5">
      <div class="row">

        <div class="col-lg-2 col-4 hvr_grow text-center mb-5 pb-4">
          <a class="text-white" href="/obstacle-parkour">
            <div class="circle mine_shaft_gray_bg">
              <i class="fas fa-running icon_parkour"></i>
              <h5 class="pt-4">Obstacle & Parkour</h5>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-4 hvr_grow text-center mb-5 pb-4">
          <a class="text-white" href="/racing">
            <div class="circle mine_shaft_gray_bg">
              <i class="fas fa-flag-checkered icon_racing"></i>
              <h5 class="pt-4">Racing</h5>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-4 hvr_grow text-center mb-5 pb-4">
          <a class="text-white" href="/minigame">
            <div class="circle mine_shaft_gray_bg">
              <i class="fas fa-gamepad icon_minigame"></i>
              <h5 class="pt-4">Minigame</h5>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-4 hvr_grow text-center mb-5 pb-4">
          <a class="text-white" href="/battle-arena">
            <div class="circle mine_shaft_gray_bg">
              <i class="fas fa-fist-raised icon_arena"></i>
              <h5 class="pt-4">Battle Arena</h5>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-4 hvr_grow text-center mb-5 pb-4">
          <a class="text-white" href="/edit-courses">
            <div class="circle mine_shaft_gray_bg">
              <i class="fas fa-pencil-alt icon_edit"></i>
              <h5 class="pt-4">Edit Courses</h5>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-4 hvr_grow text-center mb-5 pb-4">
          <a class="text-white" href="/creative-builds">
            <div class="circle mine_shaft_gray_bg">
              <i class="fas fa-torii-gate icon_creative"></i>
              <h5 class="pt-4">Creative Builds</h5>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>