<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<%- include('partials/background') %>
<%- include('partials/page_heading') -%>

<section class="" id="content">

</section>

<%- include('partials/footer') -%>