<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<%- include('partials/background') %>

<section class="" id="user_map">
	<div class="container pt-3">
		<div class="row rounded">
			<div class="col-xl-6 col-lg-5">
				<div class="text-white">
				  <div class="card-body pt-5">
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
				  		<div class="carousel-inner">
				    		<div class="carousel-item active">
				      		<img class="d-block w-100" src="<%= map.photo %>" alt="First slide">
				    		</div>
				    		<div class="carousel-item">
			        		<div class="embed-responsive embed-responsive-16by9">
			        			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QAPYH9QnYEU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			  	    		</div>
				    		</div>
				  		</div>
						</div>
					  	<div class="row pt-1">
					  		<div class="col-3 my-3" data-target="#carouselExampleIndicators" data-slide-to="0">
					  			<img class="img-fluid" src="<%= map.photo %>">
					  		</div>
					  		<div class="col-3 my-3 yt-div" data-target="#carouselExampleIndicators" data-slide-to="1">
					  			<img class="img-fluid" src="https://img.youtube.com/vi/QAPYH9QnYEU/hqdefault.jpg">
					  		</div>
					  	</div>
					  </div>		
      		</div>
    		</div>
    		<div class="col-xl-6 col-lg-7">
    			<div class="text-white h-100">
    				<div class="card-body">
    					<h1 class="display-3 burbank_font island_title pt-4"><%= map.name %></h1>
    					<h5 class="island-author pb-2">By <%= map.author %></h5>
    					<h5 class="island-views pb-2"><%= map.views %> <span class="h6">VIEWS</span></h5>
    					<h3 class="island_bio burbank_font manz_yellow pb-2"><%= map.bio %></h3>
    					<h6 class="island-author pb-2">ISLAND CODE</h6>
    					<a id="copy-code" onclick="copyToClipboard()" data-toggle="tooltip" data-placement="top" title="Click to Copy">
    					<h3 id="map-code-text" class="display-4 island_code burbank_font pb-0 mb-0"><%= map.code %></h3></a>
					  </div> 
				  </div>   			
    		</div>
  		</div>
	  </div>
  </div>
</section>

<%- include('partials/footer') -%>