<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<%- include('partials/background') %>

<section class="" id="user_map">
	<div class="user_map container py-5">
		<div class="row rounded px-3">
			<div class="col-xl-6 col-lg-5">
			  <div class="card-body text-white h-100 pt-4 px-4 gray_trans_bg">
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
			  		<div class="carousel-inner">
			    		<div class="carousel-item active">
			      		<img class="d-block w-100" src="<%= map.photo %>" alt="First slide">
			    		</div>
			    		<div class="carousel-item">
		        		<div class="embed-responsive embed-responsive-16by9">
		        			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= map.youtubeLink %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  	    		</div>
			    		</div>
			  		</div>
					</div>
				  	<div class="row pt-1">
				  		<div class="col-3 my-3" data-target="#carouselExampleIndicators" data-slide-to="0">
				  			<img class="img-fluid" src="<%= map.photo %>">
				  		</div>
				  		<div class="col-3 my-3 crop_thumbnail" data-target="#carouselExampleIndicators" data-slide-to="1">
					  			<img class="img-fluid" src="https://img.youtube.com/vi/<%= map.youtubeLink %>/hqdefault.jpg">
				  		</div>
				  	</div>
				  </div>		
    		</div>
    		<div class="col-xl-6 col-lg-7">
  				<div class="card-body text-white h-100 gray_trans_bg">
  					<h1 class="display-3 burbank_font island_title pt-4 text-center"><%= map.name %></h1>
  					<div class="container px-4">
	            <div class="row">
	              <div class="col-6">
	  					  	<h5 class="island-author pb-2 text-center">By <%= map.author %></h5>
	              </div>
	              <div class="col-6">
	  					  	<h5 class="island-views pb-2 text-center"><%= map.views %> <span class="h6">VIEWS</span></h5>
	              </div>
	            </div>
	          </div>
  					<h3 class="island_bio burbank_font manz_yellow pb-2 mx-5 text-center"><%= map.bio %></h3>
  					<h6 class="island-author pb-2 text-center">ISLAND CODE</h6>
  					<a id="copy-code" onclick="copyToClipboard()" data-toggle="tooltip" data-placement="top" title="Click to Copy">
  					<h3 id="map-code-text" class="display-4 island_code burbank_font pb-0 mb-0 text-center"><%= map.code %></h3></a>
				  </div>   			
    		</div>
  		</div>
	  </div>
  </div>
</section>

<%- include('partials/footer') -%>