<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<%- include('partials/background') -%>
<%- include('partials/page_heading') -%>

<section id="">
  <div class="submit-map text-white text-center mb-5">
    <div class="container gray_trans_bg rounded p-5 mt-3 burbank_font">
      <h1 class="display-5">A map has already been submitted with the provided code.</h1>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>