<%- include('partials/header') -%>

<%- include('partials/navbar') -%>

<%- include('partials/background') %>

<%- include('partials/page_heading') -%>

<div class="submit-map text-white">
	<div class="container-fluid">
		<div class="submit-container rounded">
			<form id="myForm" method="POST" autocomplete="off" class="needs-validation placeholder-center" novalidate enctype="multipart/form-data">
				<div class="mb-5 input-group input-group-md">
					<input name="mapName" type="text" class="form-control text-center rounded" id="map-name" placeholder="Map Name" required>
					<div class="invalid-feedback">
						Please enter a Map Name.
					</div>
				</div>

				<div class="mb-5 input-group input-group-md">
					<input name="authorName" type="text" class="form-control text-center rounded" id="author" placeholder="Author" required>
					<div class="invalid-feedback">
						Please enter an Author Name.
					</div>
				</div>

				<div class="mb-5 input-group input-group-md">
					<input name="islandCode" type="tel" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}" class="form-control text-center rounded" id="island-code" placeholder="Island Code (1234-1234-1234)" required onkeyup="addHyphen();" maxlength="14">
					<div class="invalid-feedback">
						Please enter a valid Island Code.
					</div>
				</div>

				<!-- <div class=""> -->
					<div class="mb-5 input-group input-group-md custom-file">
						<label class="custom-file-label rounded-right" for="inputGroupFile01">Choose Photo</label>
						<input name="mapPhoto" type="file" onchange="previewFile();" class="custom-file-input rounded-left" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
						
						<div class="invalid-feedback ">
						Please upload a Photo.
						</div>
					</div>
					<div class="mt-3 mb-5">
						<img id="image-preview" src="images/fortnite_creative_2.jpg" class="file-preview ml-auto mr-auto img-fluid rounded" height="" alt="Image preview...">
					</div>
				<!-- </div> -->

				<div class="input-group mb-5 custom-category">
					<select name="category" class="form-control custom-select d-block text-center rounded-right" id="category" required>
						<option value="">Choose Category</option class="p-4">
						<option value="obstacle-parkour" class="p-4">Obstacle & Parkour</option>
						<option value="racing" class="p-4">Racing</option>
						<option value="multiplayer" class="p-4">Multiplayer</option>
						<option value="edit-courses" class="p-4">Edit Courses</option>
						<option value="creative-builds" class="p-4">Creative Builds</option>
					</select>
					<div class="invalid-feedback">
						Please select a Category.
					</div>
				</div>

				<button class="btn btn-outline-light btn-lg btn-block mb-5 p-4" type="submit">Submit</button>
			</form>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content text-white lighter-gray-section">
			<button onclick="resetForm()" type="button" class="modal-body-style text-white lighter-gray-section" data-dismiss="modal" aria-label="Close">
				<div class="mt-3 mb-0 h1 submit-success">Map Successfully Submitted!</div>
				<div id="modal-title" class="card-header text-center card-heading-larger"></div>
				<img id="modal-image"src="" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text text-center code-text">Code: <span id="modal-code"></span> <br>(<span id="modal-author"></span>)</p>
				</div>
			</button>
		</div>
	</div>
</div>

<%- include('partials/footer') -%>