<%- include('partials/header') -%>
<%- include('partials/navbar') -%>
<%- include('partials/background') -%>
<%- include('partials/page_heading') -%>

<section id="">
  <div class="submit-map text-white text-center mb-5">
    <div class="container gray_trans_bg rounded p-5 mt-3 burbank_font">
      <h1 class="display-5">Your map has been submitted.<br>It will be viewable on the site after it is approved.</h1>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>